[Unit]
Description=DevOps Playground - Full Health Check Timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target