[Unit]
Description=DevOps Playground - Cleanup old logs

[Service]
Type=oneshot
WorkingDirectory=%h/devops-playground
ExecStart=%h/devops-playground/bin/dp cleanup --yes 7
StandardOutput=journal
StandardError=journal
